[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/entrypoint-deployer"]
	path = lib/entrypoint-deployer
	url = https://github.com/pyk/entrypoint-deployer
